@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  padding: 0;
  margin: 0;
}

body .leaflet-popup-content {
  min-width: 220px;
}

body .leaflet-popup-content-wrapper {
  max-height: 300px;
  overflow: auto;
}

body .leaflet-popup-content-wrapper,
body .leaflet-popup-tip {
  @apply bg-slate-900 text-white;
}

body .leaflet-container a {
  @apply text-white;
}
