@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  padding: 0;
  margin: 0;
}

body .leaflet-control-attribution a {
  @apply !text-slate-950;
}

body .leaflet-popup-content {
  min-width: 220px;
}

body .leaflet-popup-content-wrapper {
  @apply max-h-[300] overflow-auto;
}

body .leaflet-popup-content-wrapper,
body .leaflet-popup-tip {
  @apply bg-slate-900 text-white;
}

body .leaflet-container a {
  @apply text-white;
}
